__pycache__
results/
log/
model/clip-vit-base-patch32
model/stella_en_1.5B_v5

dataset/sports

mk_dataset/yelp_*/
mk_dataset/tiktok*/
mk_dataset/netflix*/
mk_dataset/ifashion_*/
mk_dataset/RAG/
mk_dataset/log/
*.safetensors

pth/

.env
*.npz
*.npy