faiss==1.7.3
numba==0.60.0
numpy==1.26.4 
PyYAML==6.0.1
scipy==1.13.1
torch==2.1.0
safetensors==0.4.4
pandas==2.2.2
scikit-learn==1.5.1
transformers==4.44.1
pillow==10.4.0
matplotlib==3.9.2
ipykernel==6.28.0
python-dotenv==0.21.0
sentence-transformers==3.1.1
flash-attn==2.6.3
jq==1.8.0
qywx-bot==1.4