faiss==1.7.3
numba==0.60.0
numpy==2.1.0
PyYAML==6.0.2
scipy==1.14.1
torch==1.13.1
langchain-community==0.2.16
safetensors==0.4.4
pandas==2.2.2
scikit-learn==1.5.1
transformers==4.44.1
pillow==10.4.0
ipykernel==6.28.0